{% extends "_base.html" %}
{% block title %}Channels page{% endblock %}
{% block content %}
<div class="container">
    <h2>orderers</h2>
    <div align="right"><a href="{{ url_for('channel_app.create') }}">add a channel</a></div>
    <TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
       <TR>
          <TH COLSPAN="1"><BR><H3>Channels</H3>
          </TH>
       </TR>
       <TR>
          <TH>Channel name</TH>
       </TR>
       {% if channels %}
           {% for channel in channels %}
              <TR ALIGN="CENTER">
                 <TD><a href = "{{ url_for('channel_app.manage', name=channel.name) }}">{{ channel.name }}</a></TD>
              </TR>
           {% endfor %}
       {% endif %}
    </TABLE>
</div>
{% endblock %}