{% extends "_base.html" %}
{% block title %}Peer managment page{% endblock %}
{% block content %}
<div class="container">
    {% if peer %}
        <h2>peer name: {{ peer.name }}  {{ peer.get_status() }}</h2>
        <br>
        <div><input type="back" class="btn btn-primary"  value="Deploy" onclick="window.location='{{ url_for('peer_app.deploy', name=peer.name) }}';" /></div><br>
        <div><input type="back" class="btn btn-primary"  value="Start" onclick="window.location='{{ url_for('peer_app.start', name=peer.name) }}';" /></div><br>
        <div><input type="back" class="btn btn-primary"  value="Stop" onclick="window.location='{{ url_for('peer_app.stop', name=peer.name) }}';" /></div><br>
        <div align="right"><input type="back" class="btn btn-primary"  value="Back" onclick="window.location='{{ url_for('peer_app.list') }}';" /></div>
    {% endif %}
</div>
<div class="container">
    {% if peer %}
        <h2>select certificat authority server</h2>
        <form  action="{{ url_for('peer_app.setca', name=peer.name) }}" method="post" role="form">
            <div class="form-group">
                <select name="ca_name" width="300px">
                    {% for ca in cas %}
                        <option value="{{ ca.name }}" SELECTED>{{ ca.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success" value="Select">Generate MSP</button>
        </form>
    {% endif %}
</div>
{% endblock %}
