{% extends "_base.html" %}
{% block title %}Orderers page{% endblock %}
{% block content %}
<div class="container">
    <h2>orderers</h2>
    <div align="right"><a href="{{ url_for('orderer_app.create') }}">add a orderer</a></div>
    <TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
       <TR>
          <TH COLSPAN="4"><BR><H3>Orderers</H3>
          </TH>
       </TR>
       <TR>
          <TH>Name</TH>
          <TH>Hostname</TH>
          <TH>Status  </TH>
          <TH>Ca      </TH>
       </TR>
       {% if orderers %}
           {% for orderer in orderers %}
              <TR ALIGN="CENTER">
                 <TD><a href = "{{ url_for('orderer_app.manage', name=orderer.name) }}">{{ orderer.name }}</a></TD><TD>{{ orderer.hostname }}</TD><TD>{{ orderer.get_status() }}</TD><TD>{{ orderer.get_ca() }}</TD>
              </TR>
           {% endfor %}
       {% endif %}
    </TABLE>
</div>
{% endblock %}