{% extends "_base.html" %}
{% block title %}Login page{% endblock %}
{% block content %}
    {% if session['logged_in'] %}
        <p>You're already logged in!</p>
    {% else %}
        <form action="/login" method="POST">
            <div class="login">
                <div class="login-screen">
                    <div class="app-title-login">
                        <h1>Login</h1>
                    </div>

                    <div class="login-form">
                        <div class="control-group-login">
                            <input type="text" class="login-field" value="" placeholder="username" name="username">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>

                        <div class="control-group-login">
                            <input type="password" class="login-field" value="" placeholder="password" name="password">
                            <label class="login-field-icon fui-lock" for="login-pass"></label>
                        </div>

                        <input type="submit" value="Log in" class="btn-login btn-primary " >
                        <br>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
