{% extends "layout.html" %}

{% block title %}Register user page{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <h2>Register new user</h2>
    <form  action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="What's your name?">
            <br>
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Your email will be used to contact you.">
            <br>
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password.">

        </div>
        <button type="submit" class="btn btn-success">Sign Up</button>
        <input type="back" class="btn btn-primary"  value="Back" onclick="window.location='{{ url_for('login_app.home') }}';" />
    </form>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                {% if "Error" not in message[1]: %}
                    <div class="alert alert-info">
                        <strong>Success! </strong> {{ message[1] }}
                    </div>
                {% endif %}
                {% if "Error" in message[1]: %}
                    <div class="alert alert-warning">
                        {{ message[1] }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}