{% extends "_base.html" %}
{% block title %}Local page{% endblock %}
{% block content %}
<div class="container">
    <h2>Local commands on server</h2>
    <div>
        <p><button type="button" class="btn btn-primary" name="choice1" value="A">A</button></p>
        <p><button type="button" class="btn btn-primary" name="choice1" value="B">B</button></p>
        <p><button type="button" class="btn btn-primary" name="choice1" value="C">C</button></p>
        <p><button type="button" class="btn btn-primary" name="choice1" value="D">D</button></p>
        <p><button type="button" class="btn btn-primary" name="choice1" value="E">E</button></p>
    </div>
</div>
{% endblock %}
