{% extends "_base.html" %}
{% block title %}Ca page{% endblock %}
{% block content %}

<div class="container">

    <h2>Create a new certificate authority</h2>
    <form  action="" method="post" role="form">
        {{ form.csrf }}

        <div class="form-group">
            <label for="name">Remote server name:</label>
            <input type="text" class="form-control" id="Name" name="name">
            <br>
            <label for="hostname">Remote server hostname:</label>
            <input type="text" class="form-control" id="Hostname" name="hostname">
            <br>
            <label for="keyfile">Local key file:</label>
            <input type="text" class="form-control" id="keyfile" name="keyfile" value="{{ config.KEYFILE }}" >
            <br>
            <label for="pubkeyfile">Local public key file:</label>
            <input type="text" class="form-control" id="pubkeyfile" name="pubkeyfile" value="{{ config.PUBKEYFILE }}" >
            <br>
            <label for="radmlogin">Remote Admin Login:</label>
            <input type="text" class="form-control" id="radmlogin" name="radmlogin" value="{{ config.USERADM }}" >
            <br>
            <label for="rlogin">Remote login:</label>
            <input type="text" class="form-control" id="rlogin" name="rlogin" value="{{ config.REMOTEUSERNAME }}" >
            <br>
            <label for="Rpassword">Remote password:</label>
            <input type="password" class="form-control" id="Rpassword" name="rpassword" value="">

        </div>
        <button type="submit" class="btn btn-success">Create</button>
        <input type="back" class="btn btn-primary"  value="Back" onclick="window.location='{{ url_for('ca_app.list') }}';" />

    </form>
</div>

{% endblock %}