{% extends "_base.html" %}
{% block title %}CAs page{% endblock %}
{% block content %}
<div class="container">
    <h2>certificate authorities</h2>
    <div align="right"><a href="{{ url_for('ca_app.create') }}">add a ca</a></div>
    <TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
       <TR>
          <TH COLSPAN="3"><BR><H3>Certificates authorities</H3>
          </TH>
       </TR>
       <TR>
          <TH>Name</TH>
          <TH>Hostname</TH>
          <TH>Status  </TH>
       </TR>
       {% if cas %}
           {% for ca in cas %}
              <TR ALIGN="CENTER">
                 <TD><a href = "{{ url_for('ca_app.manage', name=ca.name) }}">{{ ca.name }}</a></TD><TD>{{ ca.hostname }}</TD><TD>{{ ca.get_status() }}</TD>
              </TR>
           {% endfor %}
       {% endif %}
    </TABLE>
</div>

<div class="container-fluid">
    <div class="row" style="position:relative">
        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar nav-list">
                <li><a href="/index">Overview</a></li>
                <li class="active"><a href="/view/stat">System Status</a></li>
                <li><a href="/view/hosts">Hosts</a></li>
                <li><a href="/view/clusters?type=active">Active Chains</a></li>
                <li><a href="/view/clusters?type=inused">Inused Chains</a></li>
                <li><a href="/view/clusters?type=released">Release History</a></li>
                <li><a href="/about">About</a></li>
           </ul>
        </div>
    </div>
</div>


{% endblock %}


